.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid blue;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

.jumbotron {
     text-align: center;
    
  }

  body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:'Roboto slab', serif;
    position:absolute;
    background: white;
}

ul li, ul li span:last-child {
    transition:all 500ms;
}
aside {
    width:300px;
    background:#111;
    height:100%;
    Position:fixed;
    top:0;
    left:0;
    bottom:0;
}
ul {
    margin:0;
    padding:0;
    counter-reset:li;
}
ul li {
    list-style:none;
    border-bottom:1px solid #222;
    height:52px;
    color:#666;
    position:relative;
    overflow:hidden;
}
ul li:hover {
    color:#fff;
    cursor:pointer;
}
ul li span {
    display:block;
    padding:15px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
ul li span:first-child:before {
    content:"Prakash."counter(li)"";
    counter-increment:li;
}
ul li span:first-child {
    z-index:2;
}
ul li span:last-child {
    padding:0;
    display:block;
    background:#ff6600;
    z-index:1;
    position:absolute;
    top:0;
    left:-300px;
    bottom:0;
    width:300px;
    height:52px;
}
ul li:hover > span:last-child {
    left:0;
}

.position-sticky {
    top: 1rem;
}

.card-title {
    font-size: 2.4rem;
}

.card-body {
    font-size: 2rem;
}

.col-sm-3 {
    height: 400px;
    background: #990;
}

.card {
    font-size: 100%;
    width: 400px;
    margin: auto; 
    float: none; 
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px; 
    color: red;
}

[data-toggle="collapse"]:after {
    display: inline-block;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      content: "\f054";
      transform: rotate(90deg) ;
      transition: all linear 0.25s;
      }   
    [data-toggle="collapse"].collapsed:after {
      transform: rotate(0deg) ;
    }
    